body {
  color: #333333;
}
.banner {
  display: block;
  margin: auto;
  width: 70%;
  height: 80%;
}
.heading {
  font-size: 1.8rem;
  font-weight: 600;
  text-align: center;
}
.subHeading {  
  padding-top: 0.5%;
  font-size: 1.1rem;
  font-weight: 400;
  text-align: center;
}
hr {
  margin-top: 2%;
  width: 85%;
  height: 1px;
  background-color: gray;
}
.question,
.share {
  font-size: 1.6rem;
  font-weight: 700;
}
.share {
  text-align: center;
}
.QandA {
  padding: 2% 30% 5% 30%;
}

input[type="radio"] {
  border: 5px;
  -ms-transform: scale(2); /* IE 9 */
  -webkit-transform: scale(2); /* Chrome, Safari, Opera */
  transform: scale(2);
  width: 7%;
  margin-top: 3%;
}
label {
  font-size: 1.3rem;
  font-weight: 600;
}
.option3 {
  font-size: 1rem;
  font-weight: 600;
  margin-left: 8%;
}
.next {
  margin: 0;
  position: absolute;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  border: none;
  background-color: #6558f5;
  padding: 1% 2% 1% 2%;
  border-radius: 5px;
  margin-bottom: 2%;
  width: 10%;
}
.next:hover {
  cursor: pointer;
  background-color: #493af1;
}
.next2,
.back {
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  border: none;
  background-color: #6558f5;
  padding: 3% 5% 3% 5%;
  border-radius: 5px;
  width: 24%;
  margin-top: 10%;
}
.next2:hover,
.back:hover {
  cursor: pointer;
  background-color: #493af1;
}
#myProgress {
  margin-top: 5%;
  margin-bottom: 5%;
  position: absolute;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 70%;
  background-color: #ddd;
  border-radius: 5px;
}
#myProgress1 {
  margin-top: 3%;
  margin-bottom: 5%;
  position: absolute;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 70%;
  background-color: #ddd;
  border-radius: 5px;
}
#myBar {
  width: 33.33%;
  height: 30px;
  background-color: #6558f5;
  border-radius: 5px;
}
input[type="text"],
[type="tel"],
[type="email"] {
  font-size: 1.1rem;
  font-weight: 400;
  width: 20%;
  padding: 12px 20px;
  margin-top: 3%;
  display: inline-block;
  border: 1px solid rgb(92, 88, 88);
  border-radius: 6px;
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
input[type="checkbox"] {
  border: 5px;
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Chrome, Safari, Opera */
  transform: scale(1.5);
  width: 7%;
}
.agreePolicy {
  margin-left:2%;
  font-size: 1rem;
}
.phoneInfo {
  margin-top: 9%;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 700;
}
.subPhoneInfo { 
  margin-bottom: 7%;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
}
.buttonFlex {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.checked {
  color: #6558f5;
  font-size: 1.5em;
}
.fa-star {
  color: #6558f5;
  font-size: 1.5em;
}
.flexIcons {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.rating,
.whatsappIcon {
  margin-top: 5%;
}
.clickJoin {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  border: none;
  background-color: #207868;
  padding: 2% 2% 2% 2%;
  border-radius: 5px;
  margin-bottom: 2%;
  margin-top: 4%;
  width: 40%;
}
.clickJoin:hover {
  background-color: #135f51;
}
#optionValidation {
  display: none;
  text-align: center;
  margin-bottom: 2%;
  color: red;
}
.flexCheckbox{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1200px) {
  .QandA {
    padding: 2% 25% 5% 25%;
  }
  .share {
    text-align: center;
  }
}
@media (max-width: 950px) {
  .QandA {
    padding: 2% 20% 5% 20%;
  }
  .banner {
    width: 100%;
    height: 100%;
  }

  #myProgress {
    margin-top: 15%;
  }
  #myProgress1 {
    margin-top: 5%;
  }
  .next {
    margin-top: 7%;
    width: 15%;
  }
  .next2,
  .back {
    margin-top: 7%;
    width: 20%;
  }
  input[type="text"],
  [type="tel"],
  [type="email"] {
    width: 30%;
    padding: 12px 20px;
  }
  .clickJoin {
    width: 40%;
  }
}
@media (max-width: 800px) {
  .QandA {
    padding: 2% 15% 5% 15%;
  }
}
@media (max-width: 680px) {
  .QandA {
    padding: 2% 10% 5% 10%;
  }
  input[type="text"],
  [type="tel"],
  [type="email"] {
    width: 30%;
    padding: 12px 20px;
    margin-top: 7%;
  }
  .clickJoin {
    width: 50%;
  }
}
@media (max-width: 600px) {
  .QandA {
    padding: 2% 5% 5% 5%;
  }
  .question {
    font-size: 1.3rem;
    font-weight: 700;
  }
  .share {
    font-size: 1.1rem;
  }
  .heading {
    font-size: 1.3rem;
  }
  .subHeading {   
    padding-top: 2%;
    font-size: 1rem;
  }
  label {
    font-size: 1.2rem;
  }
  input[type="radio"] {
    width: 9%;
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Chrome, Safari, Opera */
    transform: scale(1.5);
  }
  .option3 {
    margin-left: 10%;
  }
  .next {
    padding: 3% 5% 3% 5%;
    margin-top: 10%;
    width: 25%;
  }
  .next2,
  .back {
    padding: 3% 5% 3% 5%;
    margin-top: 10%;
    width: 25%;
  }
  hr {
    margin-top: 4%;
  }
  #myProgress {
    width: 90%;
    margin-top: 25%;
    margin-bottom: 5%;
  }
  #myProgress1 {
    width: 90%;
    margin-top: 10%;
    margin-bottom: 5%;
  }
  input[type="text"],
  [type="tel"],
  [type="email"] {
    width: 60%;
    margin-top: 8%;
  }
  .agreePolicy {
    font-size: 0.7rem;
  }
  .phoneInfo {
    margin-top: 13%;
    font-size: 1rem;
  }
  .subPhoneInfo {
    font-size: 0.8rem;
  }
  .clickJoin {
    width: 60%;
  }
  input[type="checkbox"] {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Chrome, Safari, Opera */
    transform: scale(1.1);
  }
}
